@import url('https://fonts.googleapis.com/css2?family=Red+Hat+Display&display=swap');
body {
 background-image: url("tlo.jpg") !important;
 background-position: center;
 background-repeat: no-repeat;
 background-position: fixed;
 background-attachment: fixed;
 background-size: cover;
}
* {
	font-family: 'Red Hat Display', sans-serif;
}
.container {
	margin-top: 80px;
	margin-bottom: 20px;
}
.sidebar {
	margin-top: 20px;
}
.card {
	margin-top: 20px;
}
.card-title {
	font-size: 30px;
}
.card-header {
	font-style: italic;
	font-size: 17px;
	color: white;
	background-color: #343A40;
}
.card-text {
	font-size: 18px;
}
.media-body {
	margin-top: 35px;
}
.update-form {
	margin-top: 20px;
}
.card-main-content {
	margin-top: 10px;
}
.account-heading {
	text-transform: uppercase;
}
.navbar {
	background-color: rgb(52,58,64, 0.9)
}
.card-main-content a {
  color: black;
}
.card-main-content a:hover {
	color: #33383E;
}
.card-body img {
	width: 115px;
	height: 115px;
	margin-right: 20px;
}
.h3-about {
	margin-top: 50px;
}
.about-register-text {
	margin-top: 40px;
}