{% extends "layout.html" %}
{% block content %}
	{% for post in posts.items %}
		<div class="card text-black mb-3" style="min-width: 4vw;">
			<div class="card-header">By {{ post.author.username }} on {{ post.date_posted.strftime('%Y-%m-%d') }}</div>
				<div class="card-body clearfix">
					<img class="rounded-circle article-img pull-left" src="{{ url_for('static', filename='profile_pics/' + post.author.image_file) }}">
					<div class="card-main-content">
					<h5><a class="card-title" href="{{ url_for('post', post_id=post.id) }}">{{ post.title }}</a></h5>
					<p class="card-text text-truncate">{{ post.content }}</p>
					</div>
				</div>
		</div>
	{% endfor %}
	{% for page_num in posts.iter_pages(left_edge=1, right_edge=1, left_current=1, right_current=2) %}
		{% if page_num %}
			{% if posts.page == page_num %}
				<a class="btn btn-info mb-4" href="{{ url_for('home', page=page_num) }}">{{ page_num }}</a>
			{% else %}
				<a class="btn btn-outline-info mb-4" href="{{ url_for('home', page=page_num) }}">{{ page_num }}</a>
			{% endif %}
		{% else %}
			...
		{% endif %}
	{% endfor %}
{% endblock content %}
